{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>

<body>
    <div class="container">
        {% block content %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endblock content %}
    </div>
    <link rel="stylesheet" href="{% static 'home/js/bootstrap.min.css' %}">
</body>

</html>