{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7">
        <h3 class='home-title'>Home Blog</h3>
        {% for post in posts %}
        <span class="title"><a href="{{ post.get_absolute_detail_url }}">{{ post.title }}</a></span>
        <br>
        <span>{{ post.content }}</span>
        <p>Posted By: {{ post.author }}, On <small>{{post.date_created|date:"Y-m-d"}}</small></p>
        {% endfor %}
    </div>
</div>
{% endblock content %}